#nav-services {
  margin: 4rem 0 2rem 0;
  display: flex;
  justify-content: center;
}
#nav-services ul {
  display: flex;
  list-style: none;
}

#nav-services ul li a {
  text-decoration: none;
  margin-right: 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #0000008c;
  border-bottom: 3px solid #2cd3e1;
}

.container h1 {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.container-info p {
  text-align: center;
}
/* TABLE */
.table-container {
  display: flex;
  margin: 1rem 0;
}

.table-container img {
  width: 100%;
  max-width: 350px;
}

table {
  border-collapse: collapse;
  width: 80%;
}
table thead {
  background-color: #2cd3e1;
  color: #fff;
}

table th {
  padding: 0.7rem 0;
}

table td {
  padding-left: 1rem;
}
table tbody tr:nth-of-type(odd) {
  background-color: #ccc;
}
table tbody tr:nth-of-type(even) {
  background-color: whitesmoke;
}

/* MEDIA QUERIES */

@media (max-width: 455px) {
  header {
    position: relative;
  }

  #nav-services nav ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
  }
  #nav-services nav ul li a {
    font-size: 1.2rem;
  }
  .text-container {
    padding: 0.5rem;
  }
  .container h2 {
    font-size: 1.3rem;
  }
  .table-container img {
    display: none;
  }

  table {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #nav-services nav ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }
  #nav-services nav ul li a {
    font-size: 1.2rem;
  }
  .text-container {
    padding: 0.5rem;
  }

  table {
    width: 100%;
  }

  table td {
    padding: 0.6rem 1rem;
  }
  .table-container img {
    display: none;
  }
}
